<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://thymeleaf.org"
>
<head>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <meta charset="UTF-8">
    <title>ServerError</title>
</head>
<body>
<h2> There is some problem in processing your request.</h2>
<p>Click <a th:href="@{/}">Home</a> to go to home page</p>
</body>
</html>