<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org ">

<div th:replace="~{admin/header :: header}"></div>

<body>
<div th:replace="~{admin/header :: navbar}"></div>
<div class="container">
    <div class="row">
        <h1>List of Comments</h1>
    </div>
    <br/>
    <table class="table table-striped table-hover table-bordered">
        <thead class="table-dark">
        <tr>
            <th>#</th>
            <th>Email</th>
            <th>Comment</th>
            <th>Created Date</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="comment, iterState : ${comments}">
            <td th:text="${iterState.count}"></td>
            <td th:text="${comment.email}"></td>
            <td th:text="${comment.content}"></td>
            <td th:text="${#temporals.format(comment.createdOn, 'dd MMM yyyy')}"></td>
            <td>
                <a th:href="@{/admin/posts/comments/{commentId}(commentId=${comment.id})}" class="btn btn-danger">
                    Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div th:replace="~{admin/footer :: footer}"></div>
</body>
</html>